@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Home", new { area ="" } ,FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom"
           class="btn btn-metis-1 btn-sm">
            <i class="fa fa-power-off"></i>
        </a>
    }
}