@{
    ViewBag.Title = "الأقساط المسجلة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>
<div style="width:90%;margin:0 auto;margin-bottom: 20px;margin-top: 20px;" class="tableContainer">
    <table id="dataTable" class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>كود القسط</th>
                <th>كود العقد</th>
                <th>كود العميل</th>
                <th>مسلسل</th>
                <th>نوع القسط</th>
                <th>تاريخ الدفع</th>
                <th>مبلغ القسط</th>
                <th class="no-sort">تم الدفع</th>
                <th>تاريخ الدفع</th>
                <th class="no-sort">ملاحظات</th>
                <th>المجمع</th>
                <th class="no-sort">طرق الاتصال بالعميل</th>
                <th class="no-sort">دفع القسط</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var groupColumn = 10;
            var dialogOpened = false;
            var oTable = $('#dataTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '/RegisterdInstallments/GetRegisterdInstallments/ @ViewBag.id',
                    "type": 'POST',
                    "datatype": "json",
                },
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;
                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="12">' + group + '</td></tr>'
                            );
                            last = group;
                        }
                    });
                },
                "columns": [
                    { "data": "Id", "autowidth": true },
                    { "data": "ContractId", "autowidth": true },
                    { "data": "CustomerId", "autowidth": true },
                    { "data": "Serial", "autowidth": true },
                    { "data": "PaymentMethodDetailName", "autowidth": true },
                    {
                        "data": "PayDate",
                        "autowidth": true,
                        "render": function (data, type, row) {
                            if (data != null) {
                                var date = new Date(parseInt(data.substr(6)));
                                var month = date.getMonth() + 1;
                                return date.getDate() + "/" + month + "/" + date.getFullYear();
                            } else
                                return "";
                        }
                    },
                    { "data": "PayValue", "autowidth": true },
                    {
                        "data": "IsPaid",
                        "autowidth": true,
                        "render": function (data) {
                            if (data == true)
                                return '<input type="checkbox" value="' + data + '" checked onclick="return false;"/>';
                            else
                                return '<input type="checkbox" value="' + data + '" onclick="return false;"/>';
                        }
                    },
                    {
                        "data": "TransactionDate",
                        "autowidth": true,
                        "render": function (data, type, row) {
                            if (row.IsPaid == false)
                                return '';
                            else {
                                if (data != null) {
                                    var date = new Date(parseInt(data.substr(6)));
                                    var month = date.getMonth() + 1;
                                    return date.getDate() + "/" + month + "/" + date.getFullYear();
                                } else
                                    return "";
                            }
                        }
                    },
                    {
                        "data": "PayNote",
                        "autowidth": true,
                        "render": function (data, type, row) {
                            if (data == null)
                                data = '';
                            return '<textarea style="resize:none;width:100%;" readonly>' + data + '</textarea>';
                        }
                    },
                    { "data": "GroupColumn", "autowidth": true },
                    {
                        "data": "CustomerId", "width": "50px", "render": function (data) {
                            return '<a class="popup btn btn-success" href="/RealEstate/Customers/GetPhones/' + data + '">طرق الاتصال بالعميل</a>'
                        }
                    },
                    {
                        "data": "Id", "width": "50px", "render": function (data, type, row, meta) {
                            if (row.IsPaid)
                                return '<a class="popup btn btn-danger" href="/RealEstate/RegisterdInstallments/PayInstallment/' + data + '" style="pointer-events: none; display: inline-block;" disabled>دفع القسط</a>';
                            else
                                return '<a class="popup btn btn-danger" href="/RealEstate/RegisterdInstallments/PayInstallment/' + data + '" >دفع القسط</a>';
                        }
                    }
                ],
                "language": {
                    "emptyTable": "لا توجد نتائج لعرضها",
                    "info": "عرض _START_ الى _END_ من _TOTAL_ نتيجة",
                    "infoEmpty": "",
                    "infoFiltered": "(نتائج بحث من اجمالي _MAX_ نتيجة)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "عرض _MENU_ نتائج ",
                    "loadingRecords": "تحميل...",
                    "search": "بحث: ",
                    "zeroRecords": "لا توجد نتائج مطابقة للبحث",
                    "paginate": {
                        "first": "الأول",
                        "last": "الأخير",
                        "next": "التالي",
                        "previous": "السابق"
                    },
                    "processing": "تحميل......."
                },
                columnDefs: [
                    { "className": "dt-center", "targets": "_all" }/* to center data on columns*/,
                    {
                        "targets": 'no-sort',
                        "orderable": false
                    },
                    { "visible": false, "targets": groupColumn }
                ],
                "order": [[groupColumn, 'asc']],
            });

            $('.tableContainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                if (!dialogOpened) {
                    OpenPopup($(this).attr('href'));
                    dialogOpened = true;
                }
            });

            $('#dataTable tbody').on('click', 'tr.group', function () {
                var currentOrder = oTable.order()[0];
                if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                    oTable.order([groupColumn, 'desc']).draw();
                }
                else {
                    oTable.order([groupColumn, 'asc']).draw();
                }
            });

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: true,
                        autoOpen: false,
                        resizable: true,
                        model: true,
                        title: 'نافذة فرعية',
                        height: 420,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                            dialogOpened = false;
                        }
                    });

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                dialogOpened = false;
                                oTable.ajax.reload();
                                $.notify(data.message, {
                                    globalPosition: 'top center',
                                    className: data.className
                                });
                            }
                        }
                    });
                    e.preventDefault();
                });
                $dialog.dialog('open');
            };

        });
    </script>
}