@{
    ViewBag.Title = "نماذج العقود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:90%;margin:0 auto;margin-bottom: 20px;" class="tableContainer">
    <a class="popup btn btn-primary" href="/RealEstate/Contracts/SaveContractModel/0" style="margin-bottom:20px;margin-top:20px;">اضف نموذج جديد</a>
    <table id="dataTable" class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>كود النموذج</th>
                <th>اسم النموذج</th>
                <th>نوع العقد</th>
                <th class="no-sort">بنود النموذج</th>
                <th class="no-sort">تعديل</th>
                <th class="no-sort">حذف</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Plugins/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Plugins/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Plugins/bootstrap-datepicker-1.6.4/locales/bootstrap-datepicker.ar.min.js"></script>
    <script>
        $(function () {
            var dialogOpened = false;
            var oTable = $('#dataTable').DataTable({
                "ajax": {
                    "url": '/Contracts/GetContractModels',
                    "type": 'get',
                    "datatype": "json",
                },
                "columns": [
                    { "data": "Id", "autowidth": true },
                    { "data": "Name", "autowidth": true },
                    { "data": "ContractTypeName", "autowidth": true },
                    {
                        "data": "Id", "width": "50px", "render": function (data) {
                            return '<a class="popup btn btn-primary" href="/RealEstate/Contracts/ContractItemIndex/' + data + '">بنود النموذج</a>'
                        }
                    },
                    {
                        "data": "Id", "width": "50px", "render": function (data) {
                            return '<a class="popup btn btn-primary" href="/RealEstate/Contracts/SaveContractModel/' + data + '">تعديل</a>'
                        }
                    },
                    {
                        "data": "Id", "width": "50px", "render": function (data) {
                            return '<a class="popup btn btn-danger" href="/RealEstate/Contracts/DeleteContractModel/' + data + '">حذف</a>'
                        }
                    }
                ],
                "language": {
                    "emptyTable": "لا توجد نتائج لعرضها",
                    "info": "عرض _START_ الى _END_ من _TOTAL_ نتيجة",
                    "infoEmpty": "",
                    "infoFiltered": "(نتائج بحث من اجمالي _MAX_ نتيجة)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "عرض _MENU_ نتائج ",
                    "loadingRecords": "تحميل...",
                    "search": "بحث: ",
                    "zeroRecords": "لا توجد نتائج مطابقة للبحث",
                    "paginate": {
                        "first": "الأول",
                        "last": "الأخير",
                        "next": "التالي",
                        "previous": "السابق"
                    },

                },
                columnDefs: [
                    { "className": "dt-center", "targets": "_all" }/* to center data on columns*/,
                    {
                        "targets": 'no-sort',
                        "orderable": false
                    }
                ]
            });

            $('.tableContainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                if (!dialogOpened) {
                    OpenPopup($(this).attr('href'));
                    dialogOpened = true;
                }
            });

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: true,
                        autoOpen: false,
                        resizable: true,
                        model: true,
                        title: 'نافذة فرعية',
                        height: 790,
                        width: 1400,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                            dialogOpened = false;
                        }
                    });

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                dialogOpened = false;
                                oTable.ajax.reload();
                                $.notify(data.message, {
                                    globalPosition: 'top center',
                                    className: data.className
                                });
                            }
                        }
                    });
                    e.preventDefault();
                });
                $dialog.dialog('open');
            };
        });
    </script>
}